$easing: cubic-bezier(0.6, 0.1, -0.05, 0.95);
$grid: 8px;

$info: #3c7ef7;
$success: #35dd26;
$warning: #e8a827;
$error: #f73c71;

$primary: #d1a97b;
$textPrimary: #161616;
$textSecondary: #b5b5b5;
$textPrimaryDark: #fefefe;
$textSecondaryDark: #7d7c7c;

$bgPrimary: #ffffff;
$bgSecondary: #f3f5f7;
$bgPrimaryDark: #221c1c;
$bgSecondaryDark: #303030;

$sidebarWidth: 300px;
$headerHeight: 80px;
