<div class="left">
  <h1>Login</h1>
  <p>
    Don't have an account yet?
    <span routerLink="/register"><a>Register here</a></span>
  </p>
</div>
<form [formGroup]="formGroup" (submit)="login($event)" class="right">
  <div class="form-controls">
    <div class="input">
      <div>
        <span>Email</span>
        @if ( formGroup.get("email")?.touched &&
        formGroup.get("email")?.errors?.["required"]) {
        <span class="input-error">Required</span>
        }
      </div>
      <input
        required
        type="email"
        formControlName="email"
        placeholder="example@company.com"
      />
    </div>
    <div class="input">
      <div>
        <span>Password</span>
        @if ( formGroup.get("password")?.touched &&
        formGroup.get("password")?.errors?.["required"]) {
        <span class="input-error">Required</span>
        }
      </div>
      <input
        type="password"
        required
        formControlName="password"
        placeholder="Password"
      />
    </div>
  </div>
  <div [class]="{ error: true, hidden: !errorMessage }">
    <i-feather name="alert-circle"></i-feather>
    <p>Error: {{ errorMessage }}</p>
  </div>
  <div class="form-actions">
    <button class="secondary" type="button" (click)="goBack()">Cancel</button>
    <button type="submit">@if(!submitting){Log In} @else {loading...}</button>
  </div>
</form>
