@if (product && product.isVisible) {
<div class="content-inner product">
  <div class="product-info">
    <span class="date">
      <i-feather name="calendar"></i-feather>{{ lastUpdated }}
    </span>
    <h1>
      {{ product.name }}
    </h1>
    <div class="chiplist">
      @if (product.discount) {
      <span class="discount"
        ><i-feather name="tag"></i-feather>{{ product.discount * 100 }}%</span
      >
      }<span
        class="clickable"
        tabindex="0"
        (click)="navigateTo('/profile?id=' + product.vendor.id)"
        (keydown.enter)="navigateTo('/profile?id=' + product.vendor.id)"
        ><i-feather name="user"></i-feather
        >{{ isOwnProduct() ? "You" : product.vendor.userName }}</span
      >
      <span
        class="clickable"
        tabindex="0"
        (click)="navigateTo('/categories?category=' + product.category)"
        (keydown.enter)="navigateTo('/categories?category=' + product.category)"
        ><i-feather name="grid"></i-feather>{{ productCategory }}</span
      >
      @if (product.purchases) {
      <span class=""
        ><i-feather name="shopping-bag"></i-feather>Purchased
        {{ product.purchases }} times</span
      >
      }
    </div>
    <div class="description">
      <span>Description</span>
      <p class="description--text">{{ product.description }}</p>
    </div>
  </div>
  <div class="action-bar">
    <div class="price">
      <span class="price--value"
        ><span class="right"> {{ discountedPrice.toFixed(2) }}€</span> @if
        (product.discount) {
        <span class="wrong">{{ product.price.toFixed(2) }}€</span>
        }</span
      >
      <span class="price--info"
        >per item
        <div>&bull;</div>
        <p>{{ maxProductQuantity > 99 ? "99+" : maxProductQuantity }} left</p>
      </span>
      @if (isOwnProduct()) {

      <div class="vendor-actions">
        <button class="edit" (click)="editModalOpen.set(true)">
          <i-feather name="edit3"></i-feather>
          Edit</button
        ><button class="danger" (click)="deleteModalOpen.set(true)">
          <i-feather name="trash"></i-feather>
          Delete
        </button>
      </div>
      }
    </div>
    <div class="div"></div>
    <div class="vendor-info">
      <div class="vendor-info--name">
        <i-feather name="truck"></i-feather>
        <span>{{ product.vendor.userName }}</span>
      </div>
      <div>
        <span class="vendor-info--value"
          >{{ product.vendor.street }} {{ product.vendor.houseNumber }}</span
        >
        <span class="vendor-info--label">Street, Nr.</span>
      </div>
      <div>
        <span class="vendor-info--value"
          >{{ product.vendor.postcode }} {{ product.vendor.city }}</span
        >
        <span class="vendor-info--label">Zipcode, City </span>
      </div>
      <div>
        <span class="vendor-info--value"
          >{{ product.vendor.shippingCost.toFixed(2) }}€
        </span>
        @if (product.vendor.shippingFreeFrom >= 0 &&
        product.vendor.shippingCost) {
        <span class="vendor-info--label"
          >Shipping - Free from
          {{ product.vendor.shippingFreeFrom.toFixed(2) }}€</span
        >
        } @else {
        <span class="vendor-info--label">Shipping Cost</span>
        }
      </div>
    </div>
    <div class="div"></div>
    <div class="actions">
      @if (maxProductQuantity >= 1) {

      <pb-quantity
        [value]="addToCartQuantity"
        [min]="1"
        [max]="maxProductQuantity"
        (valueChange)="addToCartQuantity = $event"
      ></pb-quantity>
      } @else {
      <span class="out-of-stock">
        <i-feather name="info"></i-feather>
        Out of stock</span
      >
      }
      <button [disabled]="maxProductQuantity <= 0" (click)="addToCart()">
        Add {{ addToCartQuantity }} to cart
      </button>
    </div>
  </div>
</div>
@if (moreProducts().length) {

<div class="suggestions content-inner">
  <h2 class="page-title">More from {{ product.vendor.userName }}</h2>
  <div class="grid">
    @for (product of moreProducts(); track product.id) {
    <pb-product-card [product]="product"> </pb-product-card>
    }
  </div>
</div>
} } @else { @if (product?.isVisible === false && isOwnProduct()) {
<div class="notvisible-wrapper">
  <div class="content">
    <i-feather name="eye-off"></i-feather>
    <h1>Product is not visible</h1>
    <button (click)="toggleVisibility()">Show</button>
  </div>
</div>
}@else {

<div class="content-inner">
  <h1>Product does not exist</h1>
</div>
} } @if (deleteModalOpen()) {
<pb-modal (modalClose)="deleteModalOpen.set(false)">
  <pb-delete-confirm
    [product]="product"
    (delete)="onDeleteSuccess()"
  ></pb-delete-confirm>
</pb-modal>
} @if (editModalOpen()) {
<pb-modal
  (modalClose)="editModalOpen.set(false)"
  [heading]="'Edit ' + product?.name"
>
  <pb-add-product
    [initialValues]="product"
    (cancel)="editModalOpen.set(false)"
    (create)="onProductUpdated()"
  ></pb-add-product>
</pb-modal>
}
