@use "variables.scss" as *;

:host {
  padding-top: $grid * 0.25;
  position: relative;
  z-index: 0;
  span {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .circle {
    background: rgba($textSecondaryDark, 0.2);
    border-radius: 50%;
    aspect-ratio: 1;
    width: 2.5rem;
    position: absolute;
    bottom: -0.6rem;
    left: $grid * 16;
    z-index: -1;
  }
}
