@use "../../../variables.scss" as *;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: $sidebarWidth;
  width: $sidebarWidth;
  color: $textPrimaryDark;
  z-index: 999;
  transition: transform 0.2s ease-in-out;

  @media screen and (max-width: 1080px) {
    position: fixed;
    &:not(.open) {
      transform: translateX(-100%);
    }
  }

  .header-logo {
    padding: grid(3);
    height: $headerHeight;
    display: flex;
    align-items: center;
    gap: grid(2);
    background: $bgPrimaryDark;

    pb-logo {
      cursor: pointer;
    }

    .burger {
      cursor: pointer;
      display: none;
      place-items: center;
      width: grid(6);
      aspect-ratio: 1;
      border-radius: grid(1.5);
      transition: background 0.3s ease-in-out;

      &:hover {
        background: rgba($bgSecondaryDark, 0.8);
      }
    }

    @media screen and (max-width: 1080px) {
      padding-left: grid(1.5);
      .burger {
        display: grid;
      }
    }
  }

  .content {
    background: $bgSecondaryDark;
    flex: 1;
    padding: grid(3) grid(1.5);

    .menu {
      display: flex;
      flex-direction: column;

      &-group {
        display: flex;
        align-items: center;
        gap: grid(1.5);
        padding-inline: grid(2.5);
        margin-block: grid(2.5) grid(0.5);
        color: $textSecondaryDark;

        .div {
          display: none;
          flex: 1;
          height: 1px;
          background: rgba($textSecondaryDark, 0.3);
        }
      }

      &-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: grid(1.5);
        padding: grid(1.75) grid(2.5);
        color: rgba($textPrimaryDark, 0.7);
        border-radius: grid(1);
        font-weight: 400;
        transition: 0.2s;
        transition-property: background, color, font-weight;

        &:hover,
        &.active {
          background: rgba($bgPrimaryDark, 0.5);
          color: $textPrimaryDark;
          font-weight: 500;
        }

        &.active {
          color: $primary;
        }

        i-feather {
          width: grid(2.5);
          height: grid(2.5);
          margin-bottom: grid(0.5);
        }
        .label {
          // display: flex;
          // align-items: center;
          font-size: 1.125rem;
        }
      }
    }
  }
}
