@use "../../../variables.scss" as *;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: $sidebarWidth;
  color: $textPrimaryDark;
  z-index: 999;
  transition: transform 0.2s ease-in-out;

  @media screen and (max-width: 1080px) {
    position: fixed;
    &:not(.open) {
      transform: translateX(-100%);
    }
  }

  & > * {
    padding: grid(3);
  }

  .header-logo {
    height: $headerHeight;
    display: flex;
    align-items: center;
    gap: grid(2);
    background: $bgPrimaryDark;

    .burger {
      cursor: pointer;
      display: none;
      place-items: center;
      width: grid(6);
      aspect-ratio: 1;
      border-radius: grid(1.5);
      transition: background 0.3s ease-in-out;

      &:hover {
        background: rgba($bgSecondaryDark, 0.8);
      }
    }

    @media screen and (max-width: 1080px) {
      padding-left: grid(1.5);
      .burger {
        display: grid;
      }
    }
  }

  .content {
    background: $bgSecondaryDark;
    flex: 1;
  }
}
