@if (showLayout) {<pb-layout></pb-layout>} @else {<pb-auth-layout
></pb-auth-layout>}

<ul class="notifications">
  @for (notification of activeNotifications(); track notification.id) {
  <pb-notification
    class="notifications__item"
    [notification]="notification"
  ></pb-notification>
  }
</ul>

@if(profileMenuOpen() && showLayout) {<pb-profile-menu
  (pbClickOutside)="clickOutsideMenu($event)"
></pb-profile-menu
>} @if (showLayout) { @if (cartService.cartOpen()){
<pb-modal
  [heading]="'Cart (' + cartService.cartProducts().length + ')'"
  (modalClose)="cartService.setCartOpen(false)"
>
  <pb-cart></pb-cart>
</pb-modal>
} @if (orderService.ordersOpen()){
<pb-modal
  heading="Your Orders"
  (modalClose)="orderService.ordersOpen.set(false)"
>
  <pb-orders [inModal]="true"></pb-orders>
</pb-modal>
} }
