@if (showLayout) {<app-layout></app-layout>} @else {<app-auth-layout
></app-auth-layout>}

<ul class="notifications">
  @for (notification of activeNotifications(); track $index) {
  <app-notification
    class="notifications__item"
    [notification]="notification"
    [index]="$index"
  ></app-notification>
  }
</ul>

@if (cartService.cartOpen()){
<app-modal title="Cart" (close)="cartService.cartOpen.set(false)">
  <app-cart></app-cart>
</app-modal>
} @if (orderService.ordersOpen()){
<app-modal title="Your Orders" (close)="orderService.ordersOpen.set(false)">
</app-modal>
}
