@use "variables.scss" as *;
:host {
  $distanceTop: grid(4);
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  padding-top: $distanceTop;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  scrollbar-color: $bgPrimaryDark transparent;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;

  .modal {
    &-backdrop {
      background-color: rgba($bgPrimaryDark, 0.15);
      width: 100%;
      height: 100%;
      position: fixed;
      inset: 0;
      z-index: -1;
    }

    &-container {
      $br: clamp(grid(3.5), 5vw, grid(6));
      min-height: calc(100dvh - $distanceTop);
      width: 95vw;
      position: relative;
      border-radius: $br $br 0 0;
      padding: grid(6) clamp(grid(4), 5vw, grid(8));
      border: 2.5px solid rgba($bgPrimary, 0.5);
      border-bottom: none;
      background: radial-gradient(
        circle at 20% 10%,
        rgba($bgSecondary, 0.9),
        rgba($bgSecondary, 0.8) 100%
      );
      backdrop-filter: blur(32px) saturate(150%);
      box-shadow: 0 0 64px rgba($bgPrimaryDark, 0.1);
      overflow-y: auto;

      & .close {
        aspect-ratio: 1;
        width: clamp(grid(6), 10vw, grid(8));
        top: grid(6);
        right: clamp(grid(3), 5vw, grid(8));
        position: fixed;
        display: grid;
        cursor: pointer;
        place-items: center;
        color: $bgSecondaryDark;
        border-radius: 50%;
        background: rgba($bgPrimary, 0.7);

        i-feather {
          width: grid(3.5);
          height: grid(3.5);
          transition: scale 0.1s ease-in-out;
        }

        &:active {
          i-feather {
            scale: 0.9;
          }
        }
      }

      h1 {
        line-height: grid(5);
        font-size: clamp(2rem, 8vw, 3rem);
        padding-right: grid(10);
        letter-spacing: -1px;
        margin-block: grid(1.5) grid(3);
        color: transparent;
        background: linear-gradient(
          to bottom,
          lighten($textPrimary, 25),
          $textPrimary 85%
        );
        background-clip: text;
      }

      @media screen and (max-width: 768px) {
        width: 100vw;
        padding-top: grid(4);

        & .close {
          top: grid(5);
        }

        h1 {
          padding-right: grid(7);
        }
      }
    }
  }
}
