@use "variables.scss" as *;
@use "mixins.scss" as *;
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: grid(5);
  .actions {
    display: flex;
    align-items: center;
  }
}

.grid {
  background: $bgSecondary;
  padding-block: clamp(grid(4), 5vw, grid(8));
}
