<div
  class="card"
  tabindex="0"
  (click)="onCardClick($event)"
  (keydown.enter)="onCardClick($event)"
>
  @if (!!product.discount) {
  <div class="discount">-{{ product.discount * 100 }}%</div>
  }
  <div>
    <div class="card-bar">
      <span class="card__vendor">{{
        isOwnProduct() ? "You" : product.vendor.userName
      }}</span>
      @if (isOwnProduct()) {
      <div
        tabindex="0"
        [class]="{ 'vendor-actions': true, open: optionsOpen() }"
        #menu
        role="button"
        (click)="optionsOpen.set(true)"
        (keydown.enter)="optionsOpen.set(true)"
        (pbClickOutside)="optionsOpen.set(false)"
      >
        <i-feather name="more-vertical" class="trigger"></i-feather>
        @if (optionsOpen()) {
        <ul class="actions" @menuAnimation>
          <li
            class="switch"
            tabindex="0"
            (click)="toggleVisibility()"
            (keydown.enter)="toggleVisibility()"
          >
            <pb-switch [value]="product.isVisible">
              <span class="label-menu">
                {{ product.isVisible ? "Visible" : "Hidden" }}
              </span>
            </pb-switch>
          </li>
          <div class="div"></div>
          <li
            tabindex="0"
            (click)="editModalOpen.set(true)"
            (keydown.enter)="editModalOpen.set(true)"
          >
            <i-feather name="edit-3"></i-feather> Edit
          </li>
          <li
            class="delete"
            tabindex="0"
            (click)="deleteModalOpen.set(true)"
            (keydown.enter)="deleteModalOpen.set(true)"
          >
            <i-feather name="trash"></i-feather>Delete
          </li>
        </ul>
        }
      </div>
      }
    </div>
    <h5 class="card__heading">{{ product.name }}</h5>
    <div class="chips">
      @if (isOwnProduct()) {

      <div
        tabindex="0"
        #visibility
        [class]="{ visibility: true, hidden: !product.isVisible }"
        (click)="toggleVisibility()"
        (keydown.enter)="toggleVisibility()"
      >
        <i-feather
          [name]="product.isVisible ? 'eye' : 'eye-off'"
          class="visibility-icon"
        ></i-feather>
        <span class="visibility-text">{{
          product.isVisible ? "Visible" : "Hidden"
        }}</span>
      </div>
      }
      <div class="category-chip">
        <div class="category-chip-bg"></div>
        <span class="category-chip-text"> {{ category?.displayValue }}</span>
      </div>
      @if (product.inventory>= 0 && amountLeft(product) <= 10) {
      <div
        [class]="{
          'category-chip': true,
          inventory: true,
          error: amountLeft(product) <= 0
        }"
      >
        <div class="category-chip-bg"></div>
        <span class="category-chip-text">
          <i-feather
            [name]="
              amountLeft(product) <= 0 ? 'alert-circle' : 'alert-triangle'
            "
          ></i-feather>
          {{
            amountLeft(product) >= 100
              ? "99+"
              : amountLeft(product) <= 0
              ? 0
              : amountLeft(product)
          }}
          left</span
        >
      </div>
      }
    </div>
  </div>
  <div class="card-bar">
    <div class="card__price">
      {{ formattedPrice }}€ @if (!!product.discount) {
      <span class="card__price--old">{{ product.price.toFixed(2) }}€</span>
      }
    </div>
    @if (product.isVisible) {
    <div
      tabindex="0"
      [class]="{
        card__cta: true,
        disabled: product.inventory >= 0 && amountLeft(product) <= 0
      }"
      role="button"
      (click)="onClickCTA()"
      (keydown.enter)="onClickCTA()"
      #cta
    >
      <i-feather name="shopping-bag"></i-feather>
    </div>
    }
  </div>
</div>

@if (deleteModalOpen()) {
<pb-modal (modalClose)="deleteModalOpen.set(false)">
  <pb-delete-confirm
    [product]="product"
    (delete)="onDeleteSuccess()"
  ></pb-delete-confirm>
</pb-modal>
} @if (editModalOpen()) {
<pb-modal
  (modalClose)="editModalOpen.set(false)"
  [heading]="'Edit ' + product.name"
>
  <pb-add-product
    [initialValues]="product"
    (cancel)="editModalOpen.set(false)"
    (create)="onProductUpdated()"
  ></pb-add-product>
</pb-modal>
}
