@use "variables.scss" as *;

@mixin chip {
  padding: grid(1) grid(2);
  border-radius: grid(2);
  font-size: clamp(0.9rem, 3vw, 1rem);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  cursor: default;
  color: rgba($textPrimary, 0.85);
  background: rgba(darken($bgSecondary, 5), 0.5);
  border: 1px solid rgba(darken($bgSecondary, 5), 0.2);
  // color: rgba($textPrimaryDark, 0.9);
  // background: rgba($bgPrimaryDark, 0.3);
  // border: 1px solid rgba($bgPrimaryDark, 0.01);
  display: flex;
  align-items: center;
  gap: grid(1);
  i-feather {
    width: grid(2);
    height: grid(2);
  }
}

:host {
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    background: $bgPrimary;
    padding: clamp(grid(2), 3vw, grid(3));
    padding-bottom: grid(4);
    border-radius: grid(1.5);
    box-shadow: 2px 3px 32px rgba($bgPrimaryDark, 0.025);
    cursor: pointer;

    .discount {
      position: absolute;
      top: grid(-2);
      right: grid(-2);
      padding: grid(1) grid(1.5);
      border-radius: grid(3);
      background: rgba($error, 0.85);
      color: $textPrimaryDark;
      font-weight: 500;
      backdrop-filter: blur(8px) saturate(150%);
    }

    &-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .vendor-actions {
        width: grid(4);
        aspect-ratio: 1;
        border-radius: 50%;
        display: grid;
        // position: relative;
        place-items: center;
        cursor: pointer;

        &:is(:hover, :focus, :active, :focus-within) {
          background: $bgSecondary;
        }

        i-feather.trigger {
          width: grid(2.5);
          height: grid(2.5);
          color: $bgSecondaryDark;
        }

        ul.actions {
          position: absolute;
          overflow: hidden;
          right: -12px;
          border-radius: grid(1.5);
          z-index: 2;
          box-shadow: 2px 3px 16px rgba($bgPrimaryDark, 0.1);
          backdrop-filter: blur(16px) saturate(120%);
          background: rgba($bgPrimary, 0.5);
          li {
            padding: grid(2) grid(4);
            padding-left: grid(3);
            &:first-child {
              padding-top: grid(3);
            }
            &:last-child {
              padding-bottom: grid(3);
            }
            cursor: pointer;
            transition: background 0.3s ease;
            display: flex;
            align-items: center;
            gap: grid(2);

            &.delete {
              color: $error;
            }

            &.switch {
              padding-left: grid(1.5);

              .label-menu {
                display: block;
                width: 52px;
              }
            }

            i-feather {
              width: grid(2.5);
              height: grid(2.5);
            }

            &:is(:hover, :focus, :active, :focus-within) {
              background: rgba($bgSecondaryDark, 0.05);

              &.delete {
                background: rgba($error, 0.05);
              }
            }
          }
          .div {
            width: 100%;
            height: 1px;
            background: rgba($textSecondary, 0.3);
          }
        }
      }
    }

    &__heading {
      font-size: clamp(1.25rem, 3vw, 1.5rem);
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: grid(0.5);
      color: $textPrimary;
    }

    &__vendor {
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-transform: capitalize;
      color: rgba($textPrimary, 0.6);
    }

    .chips {
      display: flex;
      flex-wrap: wrap;
      gap: grid(1);
      margin-block: grid(2);

      .visibility {
        @include chip();
        transition: all 0.3s ease;
        cursor: pointer;
        will-change: width;

        &.hidden {
          color: $textSecondary;
        }

        &:is(:hover, :focus, :focus-within) {
          background: rgba(darken($bgSecondary, 5), 0.8);
        }
        &:active {
          scale: 0.95;
        }
      }
    }

    .category-chip {
      overflow: hidden;
      position: relative;
      width: fit-content;
      max-width: 100%;
      border-radius: grid(2);

      &-text {
        @include chip;
        position: relative;

        backdrop-filter: blur(12px) saturate(110%);
        z-index: 1;
      }

      &-bg {
        position: absolute;
        inset: 0;
        width: 60%;
        height: 100%;
        scale: 0.7;
        border-radius: grid(2);
        background: $primary;
        z-index: 0;
        transform: translate(-5%, 5%);
        transition: all 0.7s ease;
      }
    }

    &-bar:last-child {
      height: 48px;
    }

    &__price {
      font-size: clamp(1.25rem, 3vw, 1.5rem);
      font-weight: 700;
      color: $textPrimary;

      &--old {
        font-size: clamp(0.8rem, 2vw, 0.9rem);
        font-weight: 600;
        color: $textSecondary;
        text-decoration: line-through;
      }
    }

    &__cta {
      display: grid;
      place-items: center;
      cursor: pointer;
      height: 100%;
      aspect-ratio: 1;
      background: darken($bgSecondary, 2);
      color: $textPrimary;
      transition: all 0.3s ease;
      border-radius: 54% 46% 52% 48% / 45% 56% 44% 55%;
      box-shadow: 1px 1px 5px rgba($bgPrimaryDark, 0.05);

      i-feather {
        scale: 0.9;
      }

      &:hover {
        border-radius: 46% 54% 52% 48% / 56% 55% 45% 44%;
        background: $bgPrimaryDark;
        box-shadow: inset 4px 3px 4px rgba($textPrimaryDark, 0.15);
        color: $textPrimaryDark;
        i-feather {
          scale: 1;
        }
      }

      &:active {
        scale: 0.95;
      }
    }

    &:hover {
      .category-chip-bg {
        scale: 0.8;
        transform: translate(40%, -2%) scaleX(1.3);
      }
    }
  }
}
