@use "../../variables.scss" as *;

:host {
  width: 100%;
  height: 100%;
  display: flex;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: $bgPrimary;
    max-width: 100%;
  }

  .content {
    flex: 1;
    padding: grid(4);
    overflow-y: auto;
    overflow-x: hidden;
    height: 300vh;

    @media screen and (max-width: 768px) {
      padding: grid(2) grid(1.5);
    }
  }

  .blur-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba($bgPrimaryDark, 0.15);
    z-index: 998;
    backdrop-filter: blur(3px);

    @media screen and (min-width: 1080px) {
      display: none;
    }
  }
}
