<div class="profile-menu">
  @if (!!user()) {
  <div class="user-info">
    <span class="name">{{ user()?.userName }}</span>
    <span class="role">{{ user()?.isVendor ? "Vendor" : userJoin() }}</span>
  </div>
  <div class="divider"></div>
  }
  <ul class="profile-menu__actions">
    <li
      class="profile-menu__actions-item"
      (click)="openCart()"
      (keydown.enter)="openCart()"
      tabindex="0"
    >
      <i-feather name="shopping-cart"></i-feather> Cart
    </li>
    @if (user()) {
    <li
      class="profile-menu__actions-item"
      (click)="openOrders()"
      (keydown.enter)="openOrders()"
      tabindex="0"
    >
      <i-feather name="shopping-bag"></i-feather> Orders
    </li>
    }
    <div class="divider"></div>
    @if (!user()) {
    <li class="profile-menu__actions-item" routerLink="/login">
      <i-feather name="user-check"></i-feather> Log in
    </li>
    <li class="profile-menu__actions-item" routerLink="/register">
      <i-feather name="user-plus"></i-feather> Sign up
    </li>
    } @else {
    <li
      class="profile-menu__actions-item"
      routerLink="/profile"
      (click)="open.set(false)"
      (keydown.enter)="open.set(false)"
      tabindex="0"
    >
      <i-feather name="smile"></i-feather> My Profile
    </li>
    <li
      class="profile-menu__actions-item"
      (click)="logout()"
      (keydown.enter)="logout()"
      tabindex="0"
    >
      <i-feather name="log-out"></i-feather> Log out
    </li>
    }
  </ul>
</div>
