<div outsideClick="open.set(false)">
  <div class="icon-wrapper" (click)="toggleMenu()">
    <i-feather name="user"></i-feather>
  </div>
  @if (open()) {
  <div class="profile-menu">
    @if (!!user()) {
    <div class="user-info">
      <span class="name">{{ "@" + user()?.userName }}</span>
      <span class="role">{{ user()?.isVendor ? "Vendor" : userJoin }}</span>
    </div>
    }
    <div class="divider"></div>
    <ul class="profile-menu__actions">
      @if (!user()) {
      <li class="profile-menu__actions-item" routerLink="/login">
        <i-feather name="user-check"></i-feather> Log in
      </li>
      <li class="profile-menu__actions-item" routerLink="/register">
        <i-feather name="user-plus"></i-feather> Sign up
      </li>
      } @else {
      <li class="profile-menu__actions-item" (click)="logout()">
        <i-feather name="log-out"></i-feather> Log out
      </li>
      }
    </ul>
  </div>
  }
</div>
