@if (!showPayments) {

<section class="items">
  @for (vendorItems of itemsByVendor(); track vendorItems.vendor.id) {
  <div class="items__vendor">
    <div class="items__vendor--header">
      <div class="icon">
        <i-feather name="user"></i-feather>
      </div>
      <div class="rows">
        <div class="row">
          <h4 class="items__vendor--name">
            {{ vendorItems.vendor.userName }}
          </h4>
          <span class="items__vendor--total">
            {{ vendorItems.total.toFixed(2) }}€
          </span>
        </div>
        <div class="row items__vendor--shipping">
          <span
            >{{ vendorItems.items.length }}
            {{ vendorItems.items.length > 1 ? "Items" : "Item" }}
            @if ((vendorItems.vendor.shippingCost || 0) > 0 &&
            vendorHasFreeShipping(vendorItems.vendor) && vendorItems.total <
            (vendorItems.vendor.shippingFreeFrom)) {
            <span>&bull;</span>
            <span class="items__vendor--shippingFreeFrom">
              {{ vendorItems.vendor.shippingFreeFrom.toFixed(2) }}€ for free
              shipping
            </span>
            }
          </span>
          <span class="items__vendor--shipping-amount">
            <i-feather name="truck"></i-feather>
            {{
              vendorItems.vendor.shippingCost &&
              (vendorItems.total < (vendorItems.vendor.shippingFreeFrom || 0) ||
                !vendorHasFreeShipping(vendorItems.vendor))
                ? vendorItems.vendor.shippingCost.toFixed(2) + "€"
                : "Free"
            }}
          </span>
        </div>
      </div>
    </div>
    <ul class="items__vendor--items">
      @for (item of vendorItems.items; track item.id) {
      <li class="items__vendor--items-item">
        <div>
          <h5 class="items__vendor--items-item-name">
            {{ item.name }}
          </h5>
          <span class="items__vendor--items-item-total">
            @if (item.discount) {

            <div class="items__vendor--items-item-total--discount">
              -{{ (item.discount * 100).toFixed() }}%
            </div>
            }
            {{ (discounted(item) * item.quantity).toFixed(2) }}€
          </span>
        </div>
        <div></div>
        <div>
          <div>
            <div class="chip-list"></div>
            <p class="items__vendor--items-item-description">
              {{ item.description }}
            </p>
          </div>
          <div class="items__vendor--items-item-actions">
            <div class="items__vendor--items-item-quantity">
              <pb-quantity
                [value]="item.quantity"
                [min]="1"
                [max]="item.inventory || 999"
                (valueChange)="onQuantityChange(item, $event)"
              ></pb-quantity>
            </div>
            <div
              tabindex="0"
              class="items__vendor--items-item-delete"
              (click)="onRemoveItem(item)"
              (keydown.enter)="onRemoveItem(item)"
              tabindex="0"
              role="button"
              [ariaLabel]="'Remove Item' + item.name"
            >
              <i-feather name="trash-2"></i-feather>
            </div>
          </div>
        </div>
      </li>

      }
    </ul>
  </div>
  }
</section>
<section class="summary">
  <div class="summary__title">
    <h2 class="summary__title--label">Summary</h2>
    <div
      tabindex="0"
      class="summary__title--action"
      role="button"
      aria-label="Clear Cart"
      tabindex="0"
      (keydown.enter)="onClearCart()"
      (click)="onClearCart()"
    >
      Clear Cart
    </div>
  </div>
  <ul class="summary__list">
    <div class="summary__header">
      <span class="summary__header--label">Items ({{ uniqueItems }})</span>
      <span class="summary__header--value"> {{ itemsTotal.toFixed(2) }}€</span>
    </div>

    @for (product of cartProductsDiscountedLast; track product.id){
    <li class="summary__list-item">
      <div class="row">
        <span class="summary__list-item--label">
          {{ product.name }}
          @if (product.discount) {
          <span class="discount">-{{ product.discount * 100 }}%</span>
          }
        </span>
        <span class="summary__list-item--value">
          {{ (discounted(product) * product.quantity).toFixed(2) }}€
        </span>
      </div>
      @if (product.discount) {
      <div class="row">
        <span class="summary__list-item--label"> </span>
        <span class="summary__list-item--value wrong">
          {{ (+product.price.toFixed(2) * product.quantity).toFixed(2) }}€
        </span>
      </div>
      }
    </li>
    }
    <div class="summary__header">
      <span class="summary__header--label">Shipping </span>
      <span class="summary__header--value">
        {{ shippingTotal.toFixed(2) }}€</span
      >
    </div>
    @for (entry of itemsByVendor(); track entry.vendor.id){
    <li class="summary__list-item">
      <div class="row">
        <span class="summary__list-item--label">
          <i-feather name="user"> </i-feather>
          {{ entry.vendor.userName }}</span
        >
        @if((entry.vendor.shippingCost || 0) > 0 &&
        vendorHasFreeShipping(entry.vendor) && entry.total >
        (entry.vendor.shippingFreeFrom)){
        <span class="summary__list-item--value">
          <span class="wrong">{{ entry.vendor.shippingCost.toFixed(2) }}€</span>
          0.00€
        </span>
        } @else {
        <span class="summary__list-item--value">
          {{ entry.vendor.shippingCost.toFixed(2) }}€
        </span>
        }
      </div>
    </li>
    }
  </ul>

  <div class="summary__action">
    <div class="summary__action-price">
      <span class="summary__action-price--label">Total</span>
      <span class="summary__action-price--value"
        >{{ cartTotal.toFixed(2) }}€</span
      >
      <span class="summary__action-price--tax"
        >Incl.
        <a
          href="https://www.bundesfinanzministerium.de/Content/EN/Standardartikel/Topics/Taxation/Articles/vat.html/"
          target="_blank"
          rel="noopener noreferrer"
          >19% Tax</a
        >
        of {{ (cartTotal * 0.19).toFixed(2) }}€</span
      >
    </div>
    <button
      [disabled]="itemsCount <= 0"
      (click)="onCheckout()"
      (keydown.enter)="onCheckout()"
    >
      @if (!submitting) {
      <i-feather name="shopping-bag"></i-feather>
      }
      {{ submitting ? "loading..." : buttonPrimaryText }}
    </button>
  </div>
</section>
} @else {
<div class="payments">
  <h3 class="make-payments">Make Payments</h3>
  <ul class="grid">
    @for (entry of itemsByVendor(); track entry.vendor.id) {
    <li class="payment">
      <div class="payment__header">
        <div class="icon">
          <i-feather name="user"></i-feather>
        </div>
        <h3>
          {{ entry.vendor.userName }}
        </h3>
      </div>
      <div class="payment__info">
        <div class="payment__info--item">
          <span class="label">IBAN</span>
          <span class="value">{{ entry.vendor.iban }}</span>
        </div>
        <div class="payment__info--item">
          <span class="label">BIC</span>
          <span class="value">{{ entry.vendor.bic }}</span>
        </div>
        <div class="payment__info--amount">
          {{ entry.totalWithShipping.toFixed(2) }}€
        </div>
      </div>
    </li>
    }
  </ul>
</div>
}
