<div class="left">
  <div>
    <h1>
      {{ isUserUpdate ? "Edit Profile" : "Register" }}
      @if (minStep !== maxSteps) {
      <span
        >({{ formStep - (minStep - 1) }}/{{ maxSteps - (minStep - 1) }})</span
      >
      }
    </h1>
    <span [class]="{ asRole: true, visible: formType === 'vendor' }">{{
      isUserUpdate ? "your vendor profile" : "as a vendor"
    }}</span>
  </div>
  @if (!isUserUpdate) {
  <button class="transparent" (click)="toggleFormType()">
    @if (formType==="customer") {
    <i-feather name="truck"></i-feather> Register as Vendor } @else {<i-feather
      name="user"
    ></i-feather>
    Register as Customer}
  </button>
  <p>
    Already have an account?
    <span routerLink="/login">Log in here</span>
  </p>
  } @else if (minStep !== maxSteps){
  <button class="transparent" (click)="locationBack()">
    <i-feather name="arrow-left"></i-feather>
    Back to Profile
  </button>
  }
</div>
<form [formGroup]="formGroup" (submit)="confirm($event)" class="right">
  <div class="form-controls">
    @if (formStep === 1) {
    <div [class]="{ input: true, disabled: isUserUpdate }">
      <div>
        <span>Display Name</span>
        @if (formGroup.get("username")?.errors &&
        formGroup.get("username")?.touched) {
        <span class="input-error"
          >@if (formGroup.get("username")?.errors?.["required"]) {Required}
          @else if (formGroup.get("username")?.errors?.["pattern"]) {No special
          characters} @else {Must be within 4-32 characters}</span
        >
        }
      </div>
      <input
        required
        minlength="4"
        maxlength="32"
        pattern="[a-zA-Z0-9]*"
        type="text"
        [placeholder]="
          formType === 'vendor' ? 'Your Company Name' : 'Display Name'
        "
        formControlName="username"
      />
    </div>
    <div [class]="{ input: true, disabled: isUserUpdate }">
      <div>
        <span>Email</span>
        @if (formGroup.get("email")?.errors && formGroup.get("email")?.touched)
        {
        <span class="input-error"
          >@if (formGroup.get("email")?.errors?.["required"]) {Required} @else
          {Invalid format}</span
        >
        }
      </div>
      <input
        required
        type="email"
        formControlName="email"
        placeholder="example@company.com"
      />
    </div>
    @if (isUserUpdate) {
    <p class="hint">
      <i-feather name="info"></i-feather> This information can't be updated.
    </p>
    } @else {
    <div class="input">
      <div>
        <span>Password</span>
        @if (formGroup.get("password")?.errors &&
        formGroup.get("password")?.touched) {
        <span class="input-error"
          >@if (formGroup.get("password")?.errors?.["required"]) {Required}
          @else if (formGroup.get("password")?.errors?.["minlength"] ||
          formGroup.get("password")?.errors?.["maxlength"] ) {Must be within
          6-24 characters} @else {Must contain 1 capital letter}</span
        >
        }
      </div>
      <input
        required
        minlength="6"
        maxlength="24"
        type="password"
        pattern="[a-zA-Z0-9\@\,\.\!\?\-]*[A-Z][a-zA-Z0-9\@\,\.\!\?\-]*"
        title="Das Passwort muss 6 bis 12 Zeichen lang sein und mindestens einen Großbuchstaben enthalten."
        formControlName="password"
        placeholder="6-12 Characters, at least one capital letter"
      />
    </div>
    <div class="input">
      <div>
        <span>Confirm Password</span>
        @if (formGroup.get("confirmPassword")?.errors &&
        formGroup.get("confirmPassword")?.touched) {
        <span class="input-error"
          >@if (formGroup.get("confirmPassword")?.errors?.["required"])
          {Required} @else if
          (formGroup.get("confirmPassword")?.errors?.["minlength"] ||
          formGroup.get("confirmPassword")?.errors?.["maxlength"]) {Must be
          within 6-24 characters} @else if
          (formGroup.get("confirmPassword")?.errors?.["passwordMismatch"] )
          {Must match password} @else {Must contain 1 capital letter}</span
        >
        }
      </div>
      <input
        formControlName="confirmPassword"
        minlength="6"
        maxlength="24"
        required
        type="password"
        pattern="[a-zA-Z0-9\@\,\.\!\?\-]*[A-Z][a-zA-Z0-9\@\,\.\!\?\-]*"
        title="Das Passwort muss 6 bis 12 Zeichen lang sein und mindestens einen Großbuchstaben enthalten."
        placeholder="Confirm Password"
      />
    </div>
    } } @else if (formStep === 2) {
    <h2>Where should your packages be delivered?</h2>
    <div style="display: flex; gap: 16px; width: 100%">
      <div class="input">
        <div>
          <span>Street</span>
          @if ((formGroup.get("street")?.errors &&
          formGroup.get("street")?.touched) ||
          (formGroup.get("houseNumber")?.errors &&
          formGroup.get("houseNumber")?.touched)) {
          <span class="input-error"
            >@if (formGroup.get("street")?.errors?.["required"]||
            formGroup.get("houseNumber")?.errors?.["required"]) {Required} @else
            {Invalid Housenumber}</span
          >
          }
        </div>
        <input
          type="text"
          required
          formControlName="street"
          placeholder="e.g. Daimlerstraße"
        />
      </div>
      <div class="input" style="width: 30%">
        <div>
          <span>Housenumber</span>
        </div>
        <input
          type="number"
          required
          positiveNumber
          min="1"
          formControlName="houseNumber"
          max="999"
          [maxLength]="3"
          minlength="1"
          placeholder="###"
        />
      </div>
    </div>
    <div style="display: flex; gap: 16px; width: 100%">
      <div class="input" style="width: 30%">
        <div>
          <span>Postcode</span>
        </div>
        <input
          type="number"
          required
          placeholder="#####"
          positiveNumber
          formControlName="postcode"
          min="10000"
          max="99999"
          [maxLength]="5"
          minlength="5"
        />
      </div>
      <div class="input">
        <div>
          <span>City</span>
          @if ((formGroup.get("city")?.errors && formGroup.get("city")?.touched)
          || (formGroup.get("postcode")?.errors &&
          formGroup.get("postcode")?.touched)) {
          <span class="input-error"
            >@if (formGroup.get("city")?.errors?.["required"]||
            formGroup.get("postcode")?.errors?.["required"]) {Required} @else
            {Postcode must be 5 digits}</span
          >
          }
        </div>
        <input
          type="text"
          required
          placeholder="e.g. Stuttgart"
          formControlName="city"
        />
      </div>
    </div>
    }@else if (formStep === 3) {
    <h2>Payment Information</h2>
    <div class="input">
      <div>
        <span>BIC</span>
        @if (formGroup.get("bic")?.errors?.["required"] &&
        formGroup.get("bic")?.touched) {
        <span class="input-error">Required</span>
        }
      </div>
      <input
        required
        type="text"
        formControlName="bic"
        placeholder="Your BIC"
      />
    </div>
    <div class="input">
      <div>
        <span>IBAN</span>
        @if (formGroup.get("iban")?.errors?.["required"] &&
        formGroup.get("iban")?.touched) {
        <span class="input-error">Required</span>
        }
      </div>
      <input
        required
        type="text"
        formControlName="iban"
        placeholder="DExx xxxx xxxx xxxx xxxx xx "
      />
    </div>
    <h2>Shipping Conditions</h2>
    <div class="input">
      <div>
        <span>Shipping Cost (€)</span>
      </div>
      <input
        [allowDecimal]="true"
        positiveNumber
        formControlName="shippingCost"
        placeholder="How much do you charge for shipping?"
      />
    </div>
    <div class="input">
      <div>
        <span>Shipping free from (€)</span>
      </div>
      <input
        [allowDecimal]="true"
        positiveNumber
        formControlName="shippingFreeFrom"
        placeholder="Minimum amount for free shipping"
      />
    </div>
    }
  </div>
  <div [class]="{ error: true, hidden: !errorMessage }">
    <i-feather name="alert-circle"></i-feather>
    <p>Error: {{ errorMessage }}</p>
  </div>
  <div class="form-actions">
    <button class="secondary" type="button" (click)="back()">
      @if (formStep === minStep) {Cancel} @else {Back}
    </button>
    <button type="submit">{{ primaryText }}</button>
  </div>
</form>
