@use "variables.scss" as *;
:host {
  display: block;
  padding-top: grid(2);

  .meta-info {
    display: flex;
    align-items: center;
    gap: grid(1.5);
    color: $textSecondary;

    span.role-chip {
      display: flex;
      align-items: center;
      gap: grid();
      width: fit-content;
      padding: $grid grid(2);
      background: $primary;
      color: $textPrimaryDark;
      border-radius: grid(3);
      font-weight: 500;

      i-feather {
        stroke-width: 1.5;
        width: grid(2.5);
        height: grid(2.5);
      }
    }

    div {
      transform: scale(1.75) translateY(-1px);
    }
  }

  h1 {
    font-size: 4rem;
    margin: grid(3) 0 grid(3);
  }
}
