@if (!!profile()) {
<div class="profile">
  <div class="vendor-info content-inner">
    <section class="intro">
      <div class="meta-info">
        <span class="role-chip"
          ><i-feather
            [name]="profile()?.isVendor ? 'truck' : 'user'"
          ></i-feather
          >{{ profile()?.isVendor ? "Vendor" : "Customer" }}</span
        >
        <div>&bull;</div>
        <p>Joined on {{ joinDate() }}</p>
      </div>
      <h1>
        {{ profile()?.userName }}
      </h1>
      @if (isOwnProfile()) {
      <div class="actions">
        <button (click)="onEdit()">
          <i-feather name="edit-3"></i-feather> <span>Edit</span>
        </button>
        <button class="delete" (click)="deleteModalOpen.set(true)">
          <i-feather name="trash"></i-feather> <span>Delete</span>
        </button>
      </div>
      }
    </section>
    <div>
      @if (profile()?.isVendor) {
      <section class="payment">
        <h4 title="Payment Information">
          <i-feather name="credit-card"></i-feather
          ><span> Payment Information</span>
        </h4>
        <p><span class="field-desc">IBAN</span>{{ profile()?.iban }}</p>
        <p><span class="field-desc">BIC</span>{{ profile()?.bic }}</p>
      </section>
      }
      <section class="address" title="Address Information">
        <h4><i-feather name="home"></i-feather><span> Address</span></h4>
        <p>
          <span class="field-desc">Street, Nr.</span>{{ profile()?.street }}
          {{ profile()?.houseNumber }}
        </p>
        <p>
          <span class="field-desc">ZIP, City</span>{{ profile()?.postcode }}
          {{ profile()?.city }}
        </p>
      </section>
    </div>
  </div>

  @if (profile()?.isVendor) {
  <div class="content-inner product-heading">
    <h2 class="page-title">Products</h2>
    @if (isOwnProfile()) {
    <button
      title="Add new Product"
      aria-label="Add new Product"
      (click)="openAddProductModal()"
    >
      <i-feather name="plus"></i-feather> <span>Add Product</span>
    </button>
    }
  </div>

  @if (!!shownProducts().length) {
  <section class="grid content-inner">
    @for (product of shownProducts(); track product.id) {
    <pb-product-card
      [product]="product"
      (update)="updateList()"
    ></pb-product-card>
    }
  </section>
  } @else {
  <section class="content-inner empty">
    <p><i-feather name="frown"></i-feather>No products from this vendor yet.</p>
  </section>
  } }
</div>
} @if (deleteModalOpen()) {
<pb-modal (modalClose)="deleteModalOpen.set(false)">
  <pb-delete-confirm
    [user]="profile()"
    (delete)="deleteModalOpen.set(false)"
  ></pb-delete-confirm>
</pb-modal>
} @if (addProductModalOpen()) {
<pb-modal
  (modalClose)="addProductModalOpen.set(false)"
  heading="Add New Product"
>
  <pb-add-product
    (cancel)="addProductModalOpen.set(false)"
    (create)="onProductCreated()"
  ></pb-add-product>
</pb-modal>
}
